<!DOCTYPE html>
<html>
  <head>
    <style>
      .body {
        max-width: 700px;
        margin: 0 auto;

        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }

      img {
        width: 400;
        height: 137px;
      }
    </style>
  </head>
  <body>
    <div class="body">
      <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/a/ab/Logo_Faber-Castell.svg/1200px-Logo_Faber-Castell.svg.png" alt="Logo Faber-Castell" />
      <p>Olá <b>{{ name }}</b>,</p>
      <p>Recebemos sua solicitação, em breve os kits serão distribuidos.</p>
      <br />
      <p>Obrigado</p>
      <p>Faber-Castell</p>
    </div>
  </body>
</html>